*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:rgb(183, 180, 180);
}
.motoBack{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1111;
}
.body{
    top: 0%;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:top center;
    padding-bottom: 100px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.navbar_title{
    margin-left: 30px;
    cursor: pointer;
    font-size: 35px;
    color: white;
    padding: 10px;
}
.navbar_title2{
    cursor: pointer;
    font-size: 35px;
    color: white;
    padding: 10px;
    margin-right: 680px;
}
.car{
    color: coral;
}
.navbar ul li{
    display: inline-block;
    padding: 10px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar ul li a{
    padding-right: 10px;
    padding-left: 8px;
    padding-bottom: 3px;

}
.navbar ul li a:hover{
    border-bottom: 3px solid #fa4659;
    transition: 0.5s;
    border-radius: 10px;
}
.inline{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.active{
    border-bottom: 3px solid #fa4659;
    border-radius: 10px;

}
.tepaga{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 60px;
    z-index: 999999;
    margin-right: 40px;
    margin-bottom: 70px;
    border: 4px solid rgb(87, 18, 151);
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
    transform:rotate(-180deg);
    }
.hidden{
    display: none;
}
.navbar{
    position: absolute;
    position:fixed;
    z-index:9999999;
}

/* LINEAR */
.linear{
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    width: 400px;
    height: auto;
    margin-top: 230px;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 30px;
    transition: 1s;

}
.linear_img{
    width: 400px;
    height: 250px;
    margin-left: 1px;
    padding-bottom: 15px;
    border-radius: 20px;
}
.linear_text{
    text-align: center;
    color: white;
    transition: 1s;
}
.down3{
    width: 50px;
    height: 60px;
    margin-left: 170px;
    cursor: pointer;
    transition: 0.5s;

}
.linear2{
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0, 0, 0.7);
    width: 400px;
    height: auto;
    margin-top: 450px;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 525px;
    transition: 1s;

}
.linear_text2{
    text-align: center;
    color: white;
    transition: 1s;
}
.down4{
    width: 50px;
    height: 60px;
    margin-left: 170px;
    cursor: pointer;
    transition: 0.5s;

}
.linear3{
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0, 0, 0.7);
    width: 400px;
    height: auto;
    margin-top: 230px;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 1025px;
    transition: 1s;

}
.linear_text3{
    text-align: center;
    color: white;
    transition: 1s;
}
.down5{
    width: 50px;
    height: 60px;
    margin-left: 170px;
    cursor: pointer;
    transition: 0.5s;

}
.author{
    position: absolute;
    z-index:9999;
    border-right: 3px solid yellow;
    margin-top: 20px;
    margin-left: 100px;
    height: 60px;
    transition: 1s;
}
.author_title{
    position: absolute;
    z-index: 9999;;
    margin-top: 70px;
    margin-left: 70px;
    color: aliceblue;
    transition: 1s;
}
.author2{
    position: absolute;
    z-index:9999;
    border-right: 3px solid yellow;
    margin-top: 20px;
    margin-left: 200px;
    height: 60px;
}
.author_title2{
    position: absolute;
    z-index: 9999;
    margin-top: 70px;
    margin-left: 130px;
    color: aliceblue;
    transition: 1s;
}
.author3{
    position: absolute;
    z-index:99;
    border-right: 3px solid yellow;
    margin-top:20px;
    margin-left: 350px;
    height: 60px;
}
.author_title3{
    position: absolute;
    z-index: 99;
    margin-top: 75px;
    margin-left: 250px;
    color: aliceblue;
    transition: 1s;
}
.linear4{
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0, 0, 0.7);
    width: 400px;
    height: auto;
    margin-top: 760px;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 30px;
    transition: 1s;

}
.linear_text4{
    text-align: center;
    color: white;
    transition: 1s;
}
.down6{
    width: 50px;
    height: 60px;
    margin-left: 170px;
    cursor: pointer;
    transition: 0.5s;

}
.author4{
    position: absolute;
    z-index:99;
    border-right: 3px solid yellow;
    margin-top:20px;
    margin-left: 50px;
    height: 60px;
}
.author_title4{
    position: absolute;
    z-index: 99;
    margin-top: 75px;
    margin-left: 20px;
    color: aliceblue;
    transition: 1s;
}
.linear5{
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0, 0, 0.7);
    width: 400px;
    height: auto;
    margin-top: 760px;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 1025px;
    transition: 1s;

}
.linear_text5{
    text-align: center;
    color: white;
    transition: 1s;
}
.down7{
    width: 50px;
    height: 60px;
    margin-left: 170px;
    cursor: pointer;
    transition: 0.5s;

}
.author5{
    position: absolute;
    z-index:99;
    border-right: 3px solid yellow;
    margin-top:20px;
    margin-left: 350px;
    height: 60px;
}
.author_title5{
    position: absolute;
    z-index: 99;
    margin-top: 75px;
    margin-left: 225px;
    color: aliceblue;
    transition: 1s;
    padding-bottom: 100px;
}
.background_input{
    position: absolute;
    z-index: 9999;
    width: 40%;
    margin: auto;
    outline: none;
    height: 7%;
    margin-left: 390px;
    margin-top: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
    padding-left: 7px;

}
.background_input::placeholder{
    padding-left: 4px;
}
.search{
    position: absolute;
    z-index: 9999;
    width: 28px;
    height: 28px;
    margin-top: 100px;
    margin-left: 1025px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;

}